* {
  box-sizing: border-box;
}

.header {
  position: fixed;
  background-color: darkturquoise;
  height: 40px;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 1;
  padding: 5px;
}

.nav-list {
  height: 40px;
  margin: 0px;
  position: absolute;
  display: flex;
  align-items: center;
}

.nav-item {
  color: white;
  margin-left: 16px;
  display: block;
  height: 40px;
  position: relative;
  top: 50%;
  float: left;
  transform: translate(0, -50%);
}

.content {
  height: 5000px;
  background-color: beige;
  margin-top: 40px;
}

.head {
  background-color: aquamarine;
  height: 200px;
  width: 200px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  /* margin-right: -50%; */
  transform: translate(-50%, -50%)
}
/* .ear {
width: 40px;
height: 60px;
background-color: brown;
} */

.ear_right {
  width: 40px;
  height: 60px;
  background-color: brown;
  position: absolute;
  right: -40px;
  top: -60px;
}

.ear_left {
  width: 40px;
  height: 60px;
  background-color: brown;
  position: absolute;
  right: 200px;
  top: -60px;
}

.eye_right {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: grey;
  position: absolute;
  top: 80px;
  left: 40px;
}

.eye_left {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: grey;
  position: absolute;
  top: 80px;
  right: 40px;
}